
@import '../../common/CSS/assets/variables';
@import '../../common/CSS/assets/fonts';

.dashboard {
  margin-top: 20px;
  min-width: 90%;

  .side-section {
    width: 10%;
  }

  .nav-link {
    background: $white;
    border-bottom: 1px solid #dfdfdf;

    &:hover {
      background: $dark;
      color: #555;
    }
  }

  .content-section {
    background: inherit;
  }

  .section-title {
    border-bottom: 1px solid $white;
    color: $primary-blue;
    font-family: $lato-font;
    font-size: 24px;
    font-weight: 100;
    margin: 0 0 10px 0;
    text-align: left;
    width: 100%;
  }

  .list-group-item{
    border-radius: 0 !important;
  }
}
